.wrapper {
    background-color: #272F32;
    padding: 24px;
    .member_info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        .member_name {
            font-size: 20px;
            font-weight: bold;
        }
        .member_num {
            color: gray;
        }
    }
    .car_info {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 48% 48%;
        gap: 15px;
        justify-content: space-between;
        .inside_info {
            background-color: #B39872;
            padding: 20px;
            border-radius: 10px;
            .info_title {
                padding-bottom: 2px;
                border-bottom: 2px solid #ffffff;
                margin-bottom: 5px;
            }
        }
    }
    .service {
        margin-top: 20px;
        border-radius: 10px;
        background-color: #B39872;
        width: 100%;
        display: grid;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 50px 20px;
        justify-content: center;
        .service_inside {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            >img {
                width: 20%;
            }
            .service_title {
                margin-top: 10px;
            }
        }
    }
}