.wrapper {
    background-color: #272F32;
    .title_box {
        width: 100%;
        .title_text {
            padding: 50px 30px;
            color: #ffffff;
            font-size: 30px;
        }
    }
    .content_box {
        .note {
            color: gray;
            font-size: 14px;
            margin-bottom: 20px;
        }
        padding: 20px 24px 0px 24px;
        .signInBox {
            margin-bottom: 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .input_title {
                color: #ffffff;
                font-weight: bold;
            }
        }
        .sign_box {
            .signUp_text {
                display: flex;
                justify-content: space-between;
                color: #ffffff;
                margin-top: 5px;
            }
            .signUp {
                text-decoration: underline;
                color: #ffffff;
            }
        }
    }
}

/deep/ .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #B39872;
    color: #ffffff;
    &:focus {
        box-shadow: none;
        outline: none;
    }
    padding: 0;
}
.btn-secondary  {
    width: 100%;
    background-color: #B39872;
    border: 2px solid #ffffff;
    margin-top: 30px;
}